@import '../../global/layout/variables';

.header {
	position: absolute;
	top: 4rem;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding: 1.2rem 0;
	position: relative;
	z-index: 1000;

	img {
		width: 100%;
		max-width: 16rem;
		display: block;
	}
}
