@import '../../global/layout/variables';

.container {
	display: flex;
}

.row {
	justify-content: center;
}

.column {
	text-align: center;
}

.number {
	font-size: $font-size-48;
	font-weight: 700;
}

.label {
	color: $color-green;
}
