@font-face {
	font-family: 'InsureDAO';
	src: url('/fonts/InsureDAO.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'InsureDAO';
	src: url('/fonts/InsureDAO-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'InsureDAO';
	src: url('/fonts/InsureDAO-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'InsureDAO';
	src: url('/fonts/InsureDAO-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
