@import '../../global/layout/variables';

.grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 12rem;
}

@media only screen and (max-width: $breakpoint-medium) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 9rem;
	}
}

@media only screen and (max-width: $breakpoint-small) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
