@import '../../global/layout/variables';

.container {
	min-height: 76rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../../../assets/images/InsureDAO_hero.png);
	background-position: center bottom;
	background-size: cover;
}

.subtitle {
	color: $color-text-dark;
	font-size: $font-size-20;
	max-width: 60rem;
	text-align: center;
	margin: 0 auto;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3.6rem;

	a:first-child {
		margin-right: 2rem;
	}
}

@media only screen and (max-width: $breakpoint-xsmall) {
	.buttonContainer {
		flex-direction: column;

		a:first-child {
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
} // end of xsmall
