@import '../../global/layout/variables';

.button {
	color: $color-text-light-primary;
	background-color: $color-blue;
	border: 2px solid $color-blue;
	padding: 1.2rem 3.2rem;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 76px;
	outline: none;
	display: inline-block;
	transition: all 0.2s;

	&:hover {
		background-color: darken($color-blue, 10%);
		border-color: darken($color-blue, 10%);
		color: $color-text-light-tertiary;
		box-shadow: 2px 2px $color-text-light-tertiary;
	}
}

.square {
	border-radius: 6px;
}

.white {
	color: $color-blue;
	background-color: white;
	border: 2px solid white;
}

.green {
	background-color: $color-green;
	border: 2px solid $color-green;
}

.small {
	padding: 0.8rem 1.8rem;
}
