@import '../../global/layout/variables';

.button {
	color: $color-text-light-primary;
	background-color: $color-blue;
	padding: 1.2rem 3.2rem;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 76px;
	outline: none;
	display: inline-block;
	transition: all 0.3s;

	&:hover {
		background-color: white;
		color: $color-blue;
	}
}

.square {
	border-radius: 6px;
}

.white {
	color: $color-blue;
	background-color: white;
	&:hover {
		background-color: $color-blue;
		color: white;
	}
}

.green {
	background-color: $color-green;
	&:hover {
		background-color: white;
		color: $color-green;
	}
}

.small {
	padding: 0.8rem 1.8rem;
}
