@import '../../global/layout/variables';

.title {
	margin-top: 3rem;
	margin-bottom: 9rem;
	color: $color-green;
}

.logoContainer {
	color: #f3f4f6;
	display: flex;
	align-self: center;
	justify-self: center;
	transition: color 0.3s;
}

@media only screen and (max-width: $breakpoint-small) {
	.logoContainer {
		max-width: 12rem;
	}
}
