@import '../../global/layout/variables';

.footer {
	padding: 3.6rem 0;
	font-size: $font-size-14;
}

.inner {
	justify-content: space-between;
}

.text {
	color: $color-text-light-tertiary;
}

.socialContainer a {
	margin-left: 2.8rem;
}

@media only screen and (max-width: $breakpoint-small) {
	.inner {
		align-items: center;
		text-align: center;
	}
	.socialContainer {
		margin-top: 2rem;
		a {
			margin: 0 1.4rem;
		}
	}
} // end of whenSmall
