@import '../../global/layout/variables';

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3rem;
	background: #ffffff;
	border: 1px solid #e5e7eb;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
}

.type {
	margin-bottom: 1.4rem;
}

.title {
	font-size: $font-size-30;
	margin-bottom: 2rem;
}

.body {
	color: $color-text-dark-tertiary;
	font-size: $font-size-14;
	p {
		margin-bottom: 2rem;
	}
}

.list {
	font-size: $font-size-16;
	li {
		margin-bottom: 2rem;
		display: flex;
	}
	svg {
		margin-right: 1.4rem;
		margin-top: 0.6rem;
		display: block;
	}
}

.button {
	width: 100%;
	text-align: center;
	border-radius: 8px;
	padding: 1rem;
	margin-top: 1rem;
	box-shadow: none;
	span {
		display: inline-block;
		transition: transform 0.3s;
		margin-left: 0.4rem;
	}

	&:hover {
		span {
			transform: translateX(5px);
		}
	}
}

.green {
	.type,
	.title,
	.list li {
		color: $color-green;
	}
	.button {
		color: $color-green;
		background-color: hsla(179, 80%, 92%, 1);
		&:hover {
			color: white;
			background-color: $color-green;
		}
	}
}

.blue {
	.type,
	.title,
	.list li,
	.button {
		color: $color-blue;
	}
	.button {
		background-color: hsla(233, 89%, 96%, 1);

		&:hover {
			color: white;
			background-color: $color-blue;
		}
	}
}

.purple {
	.type,
	.title,
	.list li,
	.button {
		color: $color-purple;
	}

	.button {
		background-color: hsla(249, 90%, 96%, 1);
		&:hover {
			color: white;
			background-color: $color-purple;
		}
	}
}

@media only screen and (max-width: $breakpoint-xsmall) {
	.card {
		padding: 1.8rem;
	}
} // end of xsmall
