@import '../../global/layout/variables';

.title {
	font-size: $font-size-48;
	font-weight: 700;
	line-height: 1.3;
}

.center {
	text-align: center;
}

.margin {
	margin-bottom: 2rem;
}

.black {
	color: $color-text-dark-primary;
}

.sm {
	font-size: $font-size-36;
}

.lg {
	font-size: $font-size-60;
}

.weightMd {
	font-weight: 500;
}

@media only screen and (max-width: $breakpoint-medium) {
	.sm {
		font-size: $font-size-30;
	}
	.title {
		font-size: $font-size-36;
	}
	.lg {
		font-size: $font-size-48;
	}
} // end of whenMedium

@media only screen and (max-width: $breakpoint-small) {
	.sm {
		font-size: $font-size-27;
	}
	.title {
		font-size: $font-size-30;
	}
	.lg {
		font-size: $font-size-36;
	}
} // end of whenSmall
