@import '../../global/layout/variables';

.container {
	padding-top: 5.2rem;
	padding-bottom: 30rem;
	background-image: url(../../../assets/images/InsureDAO_footer.jpg);
	background-position: center bottom;
	background-size: cover;
}

.title {
	color: $color-green;
	font-size: $font-size-36;
}

.subtitle {
	font-size: $font-size-36;
	font-weight: 500;
	margin: 1rem 0 6rem;
	line-height: 1.3;
}

.button {
	padding: 1rem;
	width: 100%;
	max-width: 24rem;
	text-align: center;
	font-size: $font-size-24;
}

@media only screen and (max-width: $breakpoint-medium) {
	.container {
		padding-bottom: 20rem;
	}
	.subtitle {
		font-size: $font-size-30;
	}
} // end of whenMedium

@media only screen and (max-width: $breakpoint-small) {
	.container {
		padding-bottom: 14rem;
	}
	.subtitle {
		font-size: $font-size-27;
	}
} // end of whenSmall
